@import '~styles/base/colors';
@import '~styles/base/settings';
@import '~styles/utils/animations';
@import '~styles/utils/ui';

$base-margin: 36;
$base-width: 1334;

$logo-width: 257;
$logo-height: 63;
$logo-ratio: $logo-height / $logo-width;
$logo-vw: calc-vw($logo-width, $base-width);

$banner-width: 604;
$banner-height: 97;
$banner-ratio: $banner-height / $banner-width;
$banner-vw: calc-vw($banner-width, $base-width);

.splash-screen {
  @include fade-in;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url('images/screen-bg.png') no-repeat;
  background-color: $white;
  background-position: center center;
  background-size: cover;

  &.is-hidden {
    @include fade-out;
  }

  &__logo,
  &__banner {
    margin: 0;
  }

  &__logo svg,
  &__banner svg {
    display: block;
  }

  &__logo svg {
    width: $logo-vw;
    height: $logo-ratio * $logo-vw;
    max-width: #{$logo-width}px;
    max-height: #{$logo-height}px;
  }

  &__logo + &__banner::before {
    display: block;
    height: ($base-margin / $banner-width) * $banner-vw;
    max-height: #{$base-margin}px;
    content: '';
  }

  &__banner svg {
    width: $banner-vw;
    height: $banner-ratio * $banner-vw;
    max-width: #{$banner-width}px;
    max-height: #{$banner-height}px;
  }

  &__hidden {
    display: none;
  }
}

