<section class="splash-screen js-splash-screen">
  <h1 class="splash-screen__logo">
    <img inline src="src/images/logo.svg" />
    <span class="splash-screen__hidden">SwingDev</span>
  </h1>
  <h3 class="splash-screen__banner">
    <img inline src="src/images/banner.svg" />
    <span class="splash-screen__hidden">See more</span>
  </h3>

  <div class="splash-screen__container">
    <svg
      class="splash-screen__spinner"
      width="48"
      height="48"
      viewBox="0 0 300 300"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
    >
      <path
        d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z"
        fill="#00d3aa"
      />
    </svg>
  </div>

  <p class="splash-screen__message">
    Your Augmented Reality experience is loading...
  </p>
</section>
