<div class="splash-screen js-splash-screen">
  <h1 class="splash-screen__logo">
    <img inline src="src/images/logo.svg" />
    <span class="splash-screen__hidden">SwingDev</span>
  </h1>
  <h3 class="splash-screen__banner">
    <img inline src="src/images/banner.svg" />
    <span class="splash-screen__hidden">See more</span>
  </h3>
</div>
