@import '~styles/base/colors';
@import '~styles/utils/animations';
@import '~styles/utils/ui';

.toast {
  @include slide-out(
    $translateX: -50%,
    $translateY: 20px
  );

  @include toast;

  &.light {
    background-color: $accent;
  }

  &.show {
    @include slide-in($translateX: -50%);
  }
}
