@import '~styles/base/colors';
@import '~styles/utils/animations';

.toast {
  @include slide-out(
    $translateX: -50%,
    $translateY: 20px
  );

  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 7;
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0;
  padding: 0 16px;
  color: $white;
  white-space: nowrap;
  background-color: rgba($black, .8);
  border-radius: 30px;

  &.light {
    background-color: $accent;
  }

  &.show {
    @include slide-in($translateX: -50%);
  }
}
