<!DOCTYPE html>
<html lang="en">
  <head>
    <title>See More - SwingDev AR experience</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <script async src="{{htmlWebpackPlugin.files.modernizr}}"></script>
  </head>
  <body>
    {{> NoScriptMessage/template}}
    {{> SplashScreen/template}}

    <div id="ui"></div>
    <canvas id="scene" class="has-background"></canvas>
    {{#if htmlWebpackPlugin.options.production}}
      <script src="three.min.js"></script>
    {{else}}
      <script src="three.js"></script>
    {{/if}}
    <script src="ar.min.js"></script>
  </body>
</html>
